@import "src/styles/helpers/functions";

.container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  & p a {
    text-decoration: underline;
  }
}

.imgContainer {
  width: min(80%, rem(360));

  & img {
    width: 100%;
  }
}

.errorTitle {
  margin-bottom: rem(20);
}