@import "src/styles/helpers/variables";
@import "src/styles/helpers/functions";

.coverContainer {
  width: 100%;
  height: 90vh;
  background-image: url("../../assets/images/cover.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $color-white;
}

.mainTitle {
  margin-bottom: rem(30);
  text-align: center;
  animation: slide-right 1s ease-out;
}

.subtitle {
  margin-bottom: rem(60);
  animation: slide-left 1s ease-out;
}

.exploreBtn {
  animation: slide-up 1s ease-out;
}

@keyframes slide-right {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-left {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}