@import "src/styles/helpers/variables";
@import "src/styles/helpers/functions";
@import "src/styles/helpers/mixins";


.sectionWrapper {
  padding: rem(45) 0;
  width: 100%;

  &:nth-child(odd) {
    background-color: $color-background-grey;
  }

  @include breakpoint(xmd) {
    padding: rem(40);
  }
}

.productItemContainer {
  width: rem(200);
  margin-right: rem(20);
}

.productsSection {
  width: min(100%, rem(1920));
  padding: 0 rem(160);
  margin: 0 auto;

  & h3 {
    font-weight: 500;
  }

  @include breakpoint(xmd) {
    padding: 0 rem(40);
  }

  @include breakpoint(sm) {
    padding: 0 rem(20);
  }
}

.productsSectionTitle {
  margin-bottom: rem(45);

  @include breakpoint(md) {
    margin-bottom: rem(40);
  }
}

.seeMoreLink {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-decoration: none;
  color: $color-black;
  margin-top: rem(60);

  & svg {
    margin-left: rem(8);
  }

  &:hover {
    color: $color-primary;

    & svg {
      fill: $color-primary;
    }
  }
}


.productCard {
  border: rem(1) solid $color-background-grey;
}